CHKS/obj
CHKS/bin
.vscode
.config
.vs
node_modules/
wwwroot/dist/
wwwroot/node_modules/
bin/
obj/
*.db
*.sqlite
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.vspscc
*.vssscc
*.pdb
*.cache
*.dll
*.exe
*.js.map
*.css.map
*.tgz
.env
.env.*
.idea/
*.swp
*.bak
*.tmp
*.publish/
*.TestResults/
TestResults/
_ReSharper*/
*.obj
*.aps
*.pch
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
[Tt]est[Rr]esult*
