.sidebar{
    transition: width 500ms ease-in-out;
    width: 44px;    
    z-index: 2; 
    background-color:#28282B;
    overflow: hidden;
}

.sidebar:hover{
    transition: width 500ms ease-in-out;
    overflow-y: hidden;
    width: 250px;
    background-color:#28282B;
}

.panelmenuitem{
    padding-left: 5px;
    width: 200px;
    font-size: 1.2rem;
    height: 70px; 
    background-color:#28282B;
}