.customerDatalist-expanded-false{
    overflow: hidden;
    width: 220px;
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    transition: width 500ms linear 500ms;
}

.customerDatalist-expanded-false:hover{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    transition-delay:5s;
    transition: width 500ms linear 500ms;
}

.customerDatalist-expanded-true{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    transition: width 500ms linear 500ms;
}

.DataGridRow{
    margin-left:20px; 
    margin-bottom:auto; 
    margin-top:auto;
    min-width: 150px;
}
