@using Blazor.Diagrams.Components.Renderers;
@using CHKS.Models.Node;

<div style="box-shadow:0px 1px 5px 1px lightgray; border-radius:5px; padding:10px">
    <h5 class="card-title">Hello</h5>

    
@foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" style="background-color:black"/>
    }

</div>

@code {
    // This gets filled by the library
    [Parameter] public ProductNode Node { get; set; } = null!;
}